#set($inputRoot = $input.path('$'))
{
  "code"      : "$inputRoot.code",
  "location"  : "$inputRoot.location",
  "longitude" : $inputRoot.longitude,
  "latitude"  : $inputRoot.latitude,
  "category"  : $inputRoot.category
}
